body{
    background-color: #4adab6;
    background-image: url("../images/homepage.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-attachment: fixed;



}